*~
igp_*
graphviz_*
DirectedGraphPlugin_*
*.gz
*,v
*.swp
*.lease
pub/System/ClassificationPlugin/build
pub/System/ClassificationPlugin/attic
/ClassificationPlugin.md5
/ClassificationPlugin.sha1
/ClassificationPlugin.tgz
/ClassificationPlugin.txt
/ClassificationPlugin.zip
/ClassificationPlugin_installer
/ClassificationPlugin_installer.pl
.changes
locale/**/*mo
data/**/.store
pub/**/.store
