.clsCategoryContainer {
  display:flex;
  flex-wrap:wrap;
  margin-right:calc(var(--margin-half) * -1);
  /*visibility:hidden;*/
}
.clsCategoryContainer.cols2 .clsCategoryTile {
   flex-basis:47%;
}
.clsCategoryContainer.cols3 .clsCategoryTile {
   flex-basis:31%;
}
.clsCategoryContainer.cols4 .clsCategoryTile {
   flex-basis:22%;
}
.clsCategoryContainer.cols5 .clsCategoryTile {
   flex-basis:17%;
}
.clsCategoryTile {  
   min-width:230px;
   flex-shrink: 1;
   flex-grow: 1;
   margin:0 var(--margin-half) var(--margin-half) 0;
   text-decoration:none; 
   box-sizing:border-box;
   padding:20px !important;
   border:0;
   color: var(--alt-foreground, #333);
   background-color: var(--alt-background, #f6f6f6);
   border: 1px solid var(--alt-border, #ddd);
   border-radius:3px;
}
.clsCategoryTile .foswikiTopicInfo {
   margin-bottom:0;
}
.clsCategoryTile.empty {
   background:transparent;
   border:0;
}
.clsCategoryTile h4 { 
   margin:-20px -20px 0 !important;
   font-weight:normal;
   color:inherit;
}
.clsCategoryTile h4 a {
   text-decoration:none;
   padding:20px 20px 0;
}
.clsCategoryTile h4 .clsCategoryCount {
   font-size:90%;
   color:#818181;
   float:right;
   margin:20px var(--margin-half) 0 5px;
}
.clsCategoryTile h4 .jqIcon {
   float:left;
   margin:20px 5px 0 var(--margin-half);
}
.clsCategoryTile a {
   display:block;
   font-weight:normal;
   color:inherit;
}
.clsCategoryTile h4 a:hover {
   text-decoration:underline;
}
.clsCategoryTile ul {
   margin:5px 0 20px;
   padding:0 0 0 25px;
}
.clsCategoryTile li {
   padding-left:0;
}
.clsCategoryTile li a:hover {
   text-decoration:underline;
}